<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HackNEU Hackathon">
    <meta name="author" content="Sanjay Murali and Avanti Patil">

    <title>Hack NEU Hackathon</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- CSS -->
    <link href="css/background.css" rel="stylesheet">

</head>

<body ng-app="hacks" ng-controller="hacksController" >

<div id="mask">
    <div class="loader">
        <img src="img/header-bg1.jpg" style="width:100%;" border="0" alt="loading">
        Loading...
    </div>
</div>

<div id="page-top" class="main-content">

    <!-- Nav bar -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">HackNEU 2017 - Hack the new!</a>
            </div>

            <!-- Nav links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#aboutme">About HackNEU</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rules">Rules</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faqs">FAQs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contactme">Contact</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!--
                <div class="intro-heading">Hack NEU 2017</div>
                <div class="intro-lead-in">Theme: Hack the new</div>
                
                <a href="#aboutme" class="page-scroll btn btn-xl">Let's get started!</a>
                --> 
            </div>
        </div>
    </header>
    

    <!-- aboutme Section -->
    <section id="aboutme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About HackNEU 2017</h2>
                    <p class="text-muted text-center">
                        2017 is the inaugural year for Northeastern’s Hackathon “Hack NEU”. The Spring event will challenge Northeastern’s Graduate and PhD students from various streams and disciplines to come together to address real-life challenges faced in daily life,  using today’s newest technologies.
                    </p>
                    <h3>Spring 2017 Theme: <br> “Hack the New!”</h3>
                    <p class="text-muted text-center">
                    VR/AR, Artificial Intelligence, Machine Learning, Data Science, IoT etc. Basically all things on the cutting edge of technology!
                        <br><br><br>
                    <p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h3>Location</h3>
                    <p class="text-muted">
                    Northeastern University, West Village H, Boston, MA 02115
                    </p>
                    <br><br>
                </div>
                
                <div class="col-lg-4 text-center">
                    <div class="row text-center">
                    <div class="col-lg-6 text-center">
                    <a href="https://goo.gl/dNHDbi" target="_blank">
                        <button class='btn btn-shiny text-center'>Register as a Participant</button>
                    </a>
                    </div>
                        <br><br><br>
                    <div class="col-lg-6 text-center">
                    <a href="https://goo.gl/0xEqs7" target="_blank">
                        <button class='btn btn-shiny text-center'>Register as a Volunteer</button>
                    </a>
                    </div>
            </div>
                </div>
                
                <div class="col-lg-4 text-center">
                    <h3>Schedule</h3>
                    <p class="text-muted">
                        Start: Feb 11, 2017  at 8:30 am <br>
                        End:   Feb 12, 2017  at 4:30 pm
                    <p>
                        <br><br>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="row">
                    <h3>Why should you participate? </h3>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">
                        Hack on the latest tech!
                    </h4>
                    <p>  Opportunities to test drive new technologies and devices!
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prizes and Recognition</h4>
                    Meet elites from the industry in form of judges and technical mentors. <br>
                    Win exciting prizes and get featured in Northeastern blogs and Hackathon recaps!
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">
                            Sponsor booths  
                        </h4>
                    <p>Opportunities to speak and network with representatives from corporate, student and non-profit sponsors</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fun. Food. Swag</h4>
                    <p>Enjoy camaraderie of colleagues, fine food, swag and prizes!</p>
                </div>
            </div>
        </div>
    </section>

    <section id="rules" class="bg-light-gray">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Rules</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Ownership and IP:</h4>
                    <p class="text-muted">
                        Teams have full ownership of projects created during the Hackathon event.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Team Size:</h4>
                    <p class="text-muted">
                        Teams may consist of 1-4 members.
                        All members need to register individually.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Submission:</h4>
                    <p class="text-muted">
                        For this Hackathon session participants are required to login to <a href="https://hackneu2017.devpost.com"> hackneu2017.devpost.com </a> and submit project wise details for challenge/prize consideration by judges.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Project Demo:</h4>
                    <p class="text-muted">
                        You must demo your hack in order to present. No slide-decks or PowerPoint will be allowed. Time limit for presentations and Q &amp; A will be announced soon.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Code of Conduct: </h4>
                    <p class="text-muted">
                        You must abide by the <a href="http://hackcodeofconduct.org/">Code of Conduct by MLH</a>. We have a zero-tolerance policy for harassment. If you’re making others feel unsafe in anyway, you will be disqualified and removed from the event. End of story.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Admission:</h4>
                    <p class="text-muted">
                        For Spring 2017 HackNEU Hackathon session only Graduate and PHD students and alumni of Northeastern University are allowed to participate.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- sponsors Grid Section -->
    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <h4 class="text-center"><i>More sponsor details coming soon! </i></h4>
            </div>

            <!--
<h2 class="section-subheading text-center">Corporate Sponsors</h2>
            <div class="item">
                <div class="row">
                    <div ng-repeat="x in sponsors" ng-if="x.type==3" class="col-md-4">
                    
                        <a href="{{x.url}}" target="_blank">
                            <img ng-src="{{x.image}}" width="100%"> 
                        </a>
                    
                    </div>
                </div>
            </div>
            -->
<h2 class="section-subheading text-center">Non-Profit Sponsors</h2>
            <div class="item">
                <div class="row">
                    <div ng-repeat="x in sponsors" ng-if="x.type==2"  class="col-md-3 col-sm-6 col-md-offset-5">
                    
                        <a href="{{x.url}}" target="_blank">
                            <img ng-src="{{x.image}}" width="100%"> 
                        </a>
                    
                    </div>
                </div>
            </div>

                              <h2 class="section-subheading text-center">Alumni/AE Sponsors</h2>
            <div class="item">
                <div class="row">
                    <div ng-repeat="x in sponsors" ng-if="x.type==4" class="col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-5">
                    
                        <a href="{{x.url}}" target="_blank">
                            <img ng-src="{{x.image}}" width="100%"> 
                        </a>
                    
                    </div>
                </div>
            </div>


            <h2 class="section-subheading text-center">Student Empowerment Sponsors</h2>
            <div class="item">
                <div class="row">
                    <div ng-repeat="x in sponsors" ng-if="x.type==1" class="col-md-4 col-sm-6 col-md-offset-4">
                    
                        <a href="{{x.url}}" target="_blank">
                            <img ng-src="{{x.image}}" width="100%"> 
                        </a>
                    
                    </div>
                </div>
            </div>

            
        </div>


            
        </div>
    </section>

    <!-- schedule Section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 card schedule-card">
                        &nbsp;
                </div>
                <div class="col-sm-6 col-md-3 card schedule-card">
                    <div class="card-header">
                        <h3>Feb 11, 2017 - SATURDAY</h3>
                    </div>
                    <div class="card-text">
                        <p><b>8.30am-10.00am</b> Registration</p>
                        <p><b>8.45am-10.30am </b> Breakfast</p>
                        <p><b>10.00am</b> Opening Ceremony</p>
                        <p><b>10.30am-12.00pm</b> AR/VR Training Session	</p>
                        <p><b>11.00am-12.00pm</b> Pitch/Form teams:</p>
                        <p><b>11.45am-1.00pm</b> Lunch!</p>
                        <p><b>12.00pm</b> Hacking Begins!</p>
                        <p><b>12.30pm-1.30pm</b> Project/Pitch Workshop</p>
                        <p><b>7.00p-9.00p</b> Dinner:</p>
                        <p><b>12pm</b> Midnight snack</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 card schedule-card">
                    <div class="card-header">
                        <h3>Feb 12, 2017 - SUNDAY</h3>
                    </div>
                    <div class="card-text">
                        <p><b>8.45am-10.30am </b> Breakfast</p>                            <p><b>11.45am-1.00pm</b> Lunch!</p>
                        <p><b>12.00pm</b> Hacking ends!</p>
                        <p><b>1.00pm</b> Final submissions on devpost.com</p>
                        <p><b>1.00pm-2.30pm</b> Project Demo</p>
                        <p><b>2.30pm-3.30pm</b> Final judging</p>
                        <p><b>3.45pm-4.15pm</b> Winners announcement &amp; prize distribution</p>
                        <p><b>4:30pm</b> Closing Remarks</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 card schedule-card">
                                &nbsp;
                </div>
            </div>
        </div>
    </section>

    <section id="faqs">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading">FAQs</h2>
            </div>

            <br/>
            <span ng-repeat="x in rules">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">{{x.question}}</a>
                        </h4>
                    </div>
                    <div id="collapse{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">{{x.answer}}</div>
                    </div>
                </div>
            </div>

            </span>
        </div>
    </section>
    
    <section id="team" class="bg-light-gray">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">The Team</h2>
                </div>
                <div class="team-container">

            <div class="row">
                <div ng-repeat="x in teamdata" ng-if="!x.judge && !x.tech_mentor" class="col-md-4 member-container hvr-grow">
                    <a href="{{x.portfolio}}" target="_blank">
                    <img ng-src="{{x.image}}" class="img-circle">
                    </a>
                    <div>
                        <label class="text">{{x.name}}</label><br/>
                        <label class="title"><i>{{x.position}}</i></label><br/>
                        <a href="{{x.email}}" target="_blank">
                            <i class="fa fa-envelope fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.twitter}}" target="_blank">
                            <i class="fa fa-twitter fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.github}}" target="_blank">
                            <i class="fa fa-github fa-lg" aria-hidden="true" fa-lg></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="text-center">
                    <h2 class="section-heading">Judges</h2>
                </div>
            <div class="team-container">
            <div class="row">
                <div ng-repeat="x in teamdata" ng-if="x.judge && !x.tech_mentor" class="col-md-4 member-container hvr-grow">
                    <a href="{{x.portfolio}}" target="_blank">
                    <img ng-src="{{x.image}}" class="img-circle">
                    </a>
                    <div>
                        <label class="text">{{x.name}}</label><br/>
                        <label class="title"><i>{{x.position}}</i></label><br/>
                        <a href="{{x.email}}" target="_blank">
                            <i class="fa fa-envelope fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.twitter}}" target="_blank">
                            <i class="fa fa-twitter fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.github}}" target="_blank">
                            <i class="fa fa-github fa-lg" aria-hidden="true" fa-lg></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="text-center">
                    <h2 class="section-heading">Technical Mentors</h2>
                </div>
            <div class="team-container">
            <div class="row">
                <div ng-repeat="x in teamdata" ng-if="!x.judge && x.tech_mentor" class="col-md-4 member-container hvr-grow">
                    <a href="{{x.portfolio}}" target="_blank">
                    <img ng-src="{{x.image}}" class="img-circle">
                    </a>
                    <div>
                        <label class="text-tech">{{x.name}}</label><br/>
                        <label class="title"><i>{{x.position}}</i></label><br/>
                        <a href="{{x.email}}" target="_blank">
                            <i class="fa fa-envelope fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.twitter}}" target="_blank">
                            <i class="fa fa-twitter fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin fa-lg" aria-hidden="true" fa-lg> </i>
                        </a>
                        <a href="{{x.github}}" target="_blank">
                            <i class="fa fa-github fa-lg" aria-hidden="true" fa-lg></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
         

</section>

    <!-- Contact Section -->
    <section id="contactme" >
        <div class="container">
            <div class="row text-center">
                <h2 class="section-heading">Contact HackNEU 2017</h2>
                <h4 class="text-muted">Do you wish to sponsor HackNEU 2017? </h4>
                <p>  
                    <b>Please contact Connie Ferreira 
                        <a href="mailto:c.ferreira@northeastern.edu">
                        &lt;c.ferreira@northeastern.edu&gt;
                        </a> 
                    and <br>
                        Avanti Patil
                        <a href="mailto:patil.av@husky.neu.edu">
                            &lt;patil.av@husky.neu.edu&gt;
                        </a> 
                    </b>
                </p>
                <h4 class="text-muted">Do you have questions about hackathon? </h4> 
                <p>  
                    <b>Please contact Team HackNEU
                        <a href="mailto:teamhackneu@gmail.com">
                            &lt;teamhackneu@gmail.com&gt;
                        </a>
                    </b>
                </p>

            </div>
            <div class="row text-center">                
                <div class="team-member text-center" >
                    <div class="col-md-6 text-center">
                        <img src="img/logo-details.png" class="img-responsive img-square" alt="">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://www.twitter.com/hackneu"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                 <a href="https://www.facebook.com/hackneu"><i class="fa fa-facebook"></i></a>
                            </li>                            
                        </ul>
                    </div>
                    <div id="hackneu-twitter" class="col-md-6 text-center"> 
                        <a class="twitter-timeline" href="https://twitter.com/hackneu">Tweets by hackneu</a> 
                        
                    </div>
                </div>
            </div>
          </div>        
    </section>
    <footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Team HackNEU 2016-2017</span>  </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="js/jquery.film_roll.min.js"></script>



<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    
<!-- JavaScript -->
<script src="js/background.js"></script>
</body>

</html>
