<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HackNEU Hackathon">
    <meta name="author" content="Sanjay Murali and Avanti Patil">

    <title>Hack NEU Hackathon</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- CSS -->
    <link href="css/background.css" rel="stylesheet">

</head>
<body ng-app="hacks">

<!-- Nav bar -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">HackNEU 2017 - Hack the new!</a>
        </div>

        <!-- Nav links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html#aboutme">About HackNEU</a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html#rules">Rules</a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html#sponsors">Sponsors</a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html#schedule">Schedule</a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html#faqs">FAQs</a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html#contactme">Contact</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section>
    <span id="info1">
        <div class="container">
        <div class="text-center">
            <h2>Judging Criteria</h2>
        </div>
    <br/>
    <div class="row">
    <span class="col-lg-2"></span>
        <span class="col-lg-8 text-center">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Innovative idea</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">Information Coming soon!</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> Goto Market </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">Information Coming soon!</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> Vision </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">Information Coming soon!</div>
                    </div>
                </div>
            </div>
            </span>
    </div>
</div>
</span>

<span id="info2">
    <div class="container">
        <div class="text-center">
            <h2>Dataset for Hacking</h2>
        </div>
    <span class="text-center">
        <p>Northeastern University Dataset : <a href="http://library.northeastern.edu/" target="_blank">Link</a></p>
    </span>
    </div>
</span>

<span id="info3">
    <div class="container">
        <div class="text-center">
            <h2>HARDWARE:</h2>
        </div>
        <span class="text-center">
        <p>With the help of Boston AR meetup group, Google and Team Hack NEU we have been able to secure some Hardware:</p>
        </span>
        <span class="text-center">
            <p>Hardware available: <a href="https://goo.gl/olcpVM">Click here</a>
            </p>
            <p>
            Link to claim hardware: <a href="https://goo.gl/forms/RdCtW6pHdykPuhZp2">Click here</a>
            </p>
        </span>
    </div>
</span>
<span id="info4">
    <div class="container">
        <div class="text-center">
            <h2>API suggestions</h2>
        </div>
        <br/>
    <span class="text-center">
        <p>Some of the APIs you could use are: </p>
        <ul class="list-inline">
            <li><a href="https://www.clarifai.com/" target="_blank">Clarifai</a></li>
            <li><a href="https://trello.com/" target="_blank">Trello</a></li>
            <li><a href="https://www.tensorflow.org/" target="_blank">TensorFlow</a></li>
            <li><a href="http://www.zettajs.org/" target="_blank">Zetta</a></li>
            <li><a href="https://wit.ai/" target="_blank">Wit.ai</a></li>
        </ul>
    </span>
    </div>
</span>
<span id="info5">
    <div class="container">
        <div class="text-center">
            <h2>Communication tools @HackNEU 2017</h2>
        </div>
        <br/>
    <span class="text-center">
        <p>Slack channel : <a href="https://team-hackneu.slack.com/messages/hackneu/" target="_blank">Slack for Team HackNEU</a>
        </p>
    </span>
    </div>
</span>
</section>

<section ng-controller="hacksController">
    <div class="container">
    <div class="text-center">
        <h2>Technical mentors</h2>
    </div>
    <div class="person_display" ng-repeat="x in teamdata" ng-if="!x.positions[0] && x.positions[1] && !x.positions[2]">
        <div class="row">
            <div class="col-md-3">
                <img ng-src="{{x.image}}" alt="{{x.position}}"
                                                     title="{{x.position}}" width="220" height="300">
            </div>
            <div class="col-md-9">
                <a href="{{x.portfolio}}" >{{x.name}}</a>
                <br/>
                <span >Slack: ({{x.name}})</span>
                <br/>
                <span >Available Timings: 10AM - 8PM</span>
                <br/>
                <br/>
                <span >Description Here!</span>
            </div>
        </div>
</div>
    <div class="person_display" ng-repeat="x in teamdata" ng-if="!x.positions[0] && x.positions[1] && x.positions[2]">
        <div class="row">
            <div class="col-md-3">
                <img ng-src="{{x.image}}" alt="{{x.position}}"
                                                     title="{{x.position}}" width="220" height="300">
            </div>
            <div class="col-md-9">
                <a href="{{x.portfolio}}" >{{x.name}}</a><br/>
                <span >Slack: ({{x.name}})</span>
                <br/>
                <span >Available Timings: 10AM - 8PM</span>

                <br/>
                <span >Description Here!</span>
            </div>
        </div>
</div>
    </div>
</section>

<footer class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Team HackNEU 2016-2017</span>  </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="js/jquery.film_roll.min.js"></script>



<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- JavaScript -->
<script src="js/background.js"></script>

</body>

</html>
